# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @owners will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most
# precedence.
*   @tulir

# Polish
pl/ @mtatko

# Korean
ko/ @revi

# Brazilian Portuguese
pt-br/ @rffontenelle

# Bulgarian
bg/ @oijdfdg

# Romanian
ro/ @florinsdistortedvision

# Simplified Chinese
zh-cn/ @stevenlele

# Slovak
sk/ @kubo6472

# Ukrainian
uk/ @Higmans

# Toki Pona
tok/ @cubedhuang

# Lithuanian
lt/ @TruncatedDinoSour

# Dutch
nl/ @7ijme

# Filipino
fil/ @IverCoder

# Finnish
fi/ @raikasdev

# Bosnian
bs/ @JustMike-git

# O'zbekiston
uz-lt/ @shoyimobloqulov
