html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  margin: 0 auto;
  max-width: 672px;
  line-height: 1.6;
  font-size: 18px;
  color: #222;
  background-color: #FAFAFA;
  padding: 0 10px;
  font-family: "Open Sans";
}

@media screen and (min-width: 680px) {
  main {
    margin: 40px 0;
  }
}

h1, h2 {
  line-height: 1.2;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  color: #888;
  font-size: 9px;
}

a {
  color: #07A;
}
a:visited {
  color: #941352;
}
footer > a {
  color: #888 !important;
}

blockquote {
  background: #F9F9F9;
  border-left: 10px solid #CCC;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  font-family: monospace;
}
blockquote p {
  display: inline;
}

@media screen and (min-width: 400px) {
  blockquote {
    display: table;
  }
  blockquote > * {
    display: table-cell;
  }
  blockquote > .name {
    padding-right: 8px;
  }
}
